.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
}
/* Style the collapsible content. Note: hidden by default */
.Collapsible__contentInner {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
}

#cv {
    width: 100%;
}

.Collapsible {
    width: 100%;
}

/* Style the button that is used to open and close the collapsible content */
.Collapsible__trigger {
    background-color: #eee;
    display: block;
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    &:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        padding-right: 12px;
        color: white;
        float: right;
    }
    &.is-open, &:hover {
        background-color: #ccc;
    }
    &.is-open {
        &:after {
            content: "\2796";
        }
    }
}
